.home {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.card {
  margin-top: 20px;
  padding: 30px;
  background: #1e293b;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 300px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  background: #38bdf8;
  color: black;
  font-weight: bold;
  cursor: pointer;
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.join-section {
  display: flex;
  gap: 10px;
}

input {
  flex: 1;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  color: #1f2028;
}

.board {
  display: grid;
  grid-template-columns: repeat(3, 100px);
  gap: 8px;
  margin-top: 20px;
}

.cell {
  width: 100px;
  height: 100px;
  background: #1e293b;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  cursor: pointer;
  border-radius: 8px;
  color:aliceblue
}

.cell:hover {
  background: #334155;
}

.winner {
  margin-top: 10px;
  color: #22c55e;
}

.leave-btn{
  margin-top: 20px;
  background: #ef4444;
  color: white;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background: white;
  padding: 24px;
  border-radius: 12px;
  text-align: center;
  min-width: 250px;
}

.modal button {
  margin-top: 12px;
  padding: 8px 16px;
  cursor: pointer;
}